<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="New 新建" icon-off="ion-android-add-circle" icon-on="ion-android-add-circle" href="#/tab/new">
    <ion-nav-view name="tab-new"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="History 历史" icon-off="ion-android-list" icon-on="ion-android-list" href="#/tab/records">
    <ion-nav-view name="tab-records"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings 设置" icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
