/* Empty. Add your own CSS if you like */
.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 320px;
    padding: 30px;
    font-size: 50px;
    background: $warning;
    position: fixed;
    bottom: 0px; /* Adjust to where you want it */
    right: 0px; /* Adjust to where you want it */
    z-index: 9999;
    text-shadow: 0px 2px 4px gray; 
    color:#039BE5;
}
.large_button {
  line-height: 30vh !important;    
  width: 100%
}
.medium_button {
line-height: 17vh !important;    
width: 100%
}
.icon_custom {
font-size:30px;
padding-right:15px;
}
.icon_medium {
font-size:20px;
padding-right:15px;
}